/* Revised CSS with container background and fixed input box issue */

body {
    background-image: url(weather.png);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #f4f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

h1.item {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
    background: linear-gradient(18deg, #3e3ee7, #04e9e9, #06f006);
    border-radius: 12px;
}

form#form {
    margin-bottom: 20px;
}

input#search {
    /* width: 100%; */
    padding: 0.5rem;
    border-radius: 2rem;
    border: none;
    background-color: #fff;
    font-family: inherit;
    font-size: 1.8rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow to the input */
}



.weather {
    padding: 30px;
    background: linear-gradient(18deg, #3e3ee7, #04e9e9, #06f006);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.weather h1 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather h1 img {
    margin: 0 10px;
}

#date-time {
    font-size: 2.2rem;
    color: #090909;
}
